
{% extends 'base.html' %}
{% block content%}
<style>
td , tr{
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    margin: 5px 5px;
}
    th{
        font-size: 30px;
    }
    table{
        border: 1px solid black;
        width: 80%;
        height:300px;
    }
</style>

<table >
    <head >
        <h2 style="text-align: center">      Forwarding Training Categories  </h2>

    </head>

    <tr>
        <th>  Training Type  </th>
        <th>   Description </th>
        <th> Trained By   </th>
        <th>  Date Completed   </th>
    </tr>
        <div>   </div>
    <tr>
        <td>Import and Export Docs     </td>
        <td> Request docs from Client and Supplier  </td>
        <td>    </td>
        <td>    </td>

    </tr>
    <tr>
        <td>Cartage Docs     </td>
        <td>Weight, door direction, request Docs  </td>
 <td>    </td>
        <td>    </td>
    </tr>
<tr>
        <td>Shipping line, Air line and Whole salers     </td>
        <td>Suppliers docs request and cut off time </td>
     <td>    </td>
        <td>    </td>

    </tr>
    <tr>
        <td>Local Suppliers     </td>
        <td>request docs and Cut off time</td>
 <td>    </td>
        <td>    </td>
    </tr>
    <tr>
        <td>Software / cargowise     </td>
        <td>Consoladation and Shippments</td>
 <td>    </td>
        <td>    </td>
    </tr>
    <tr>
        <td>Online info Source  </td>
        <td>Ports, Cartage, Liners, CFS</td>
 <td>    </td>
        <td>    </td>
    </tr>
    <tr>
        <td>Overseas Agent     </td>
        <td>Contact and Docs provide</td>
 <td>    </td>
        <td>    </td>
    </tr>
    <tr>
        <td>Cor operate with Team     </td>
        <td>Transport, logistics, 3rd Party</td>
 <td>    </td>
        <td>    </td>
    </tr>

    </div>



</table>

<h5>   Please Download Form from Company [Drive] </h5>

{% endblock%}