{% extends 'base.html' %}
{% block content %}
<h1 class="ui header">Quick Link Page</h1>
<hr>
<div class="ui small images">

    <div>

    </div>
    <a class="ui medium image" href="http://online.straitnz.co.nz/">
        <img src="http://online.straitnz.co.nz/images/main_login.png">
    </a>
    <div>


    </div>
    <a class="ui medium image" href="https://www.portconnect.co.nz/">
        <img src="https://www.portconnect.co.nz/WebsiteRefresh/Images/port-connect-logo-sml.jpg">
    </a>
    <div>

    </div>
    <a class="ui medium image" href="https://app.cartoncloud.com.au/">
        <img src="https://app.cartoncloud.com.au/img/logo_text.png">
    </a>
    <div>

    </div>
    <a class="ui medium image" href="https://identity.fgmailconnect.co.nz/Identity/Account/Login">
        <img src="https://gosweetspotcdn.blob.core.windows.net/images/fgl_2018_h50.png">
    </a>
    <div>
        <a class="ui medium image" href="https://google.com">
            <img src="/images/wireframe/image-text.png">
        </a>
    </div>


</div>


{% endblock %}

