<!--<div class="ui red message">-->
<!--        <div class="header">-->
<!--            <h1>title of box</h1>-->
<!--        </div>-->
<!--        <ul class="list">                   {% for item in company %}-->
<!--            <li style="font-size: x-large"> {{item.clientCompanyName}}</li>-->
<!--                                                     {% endfor %}-->

<!--        </ul>-->
<!--        <strong>{{suspend_client.clientCompanyName}},{{message}}</strong>-->
<!--</div>-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script language="JavaScript">

    </script>

</head>


<body onload="startTime()">
<font color="#33FFFF"><span id="nowDateTimeSpan"></span></font>
</body>


</body>
</html>



