<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Weekly Check Sheet</title>
</head>
<body>
<h1> Please finish Check List Each Friday</h1>

<!--<h2> Do not close page to avoid lose input</h2>-->


<ul>
    <li>Confirm Cartoncloud Invoices has No Error. All SO, PO, Consignments are finalized.</li>
    <hr>
    <li>Any Demurrage this week? And information is recorded if there is any.</li>
    <hr>
    <li>All containers coming has cartages booked.</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>Enough Gas Bottles for forklift?</li>
    <li>Rubbish Bin Full? Need to Arrange Empty?</li>
    <li></li>
</ul>


</body>
</html>