{% extends 'base.html' %}{% load nvd3_tags %}
{% block content %}
<h1> Warehouse</h1>
<div class="ui message">
    <div class="header">
        <h1>Container schedule(Including Completed)</h1>
    </div>
    <ul class="list"> {% for item in container|dictsort:'ctnr_eta' %}
        <li style="font-size: medium">{{item.ctnr_eta}}&nbsp;&nbsp;&nbsp; {{item.ctnr_number}}&nbsp;&nbsp;&nbsp;{{item.ctnr_type}}
            &nbsp;&nbsp;&nbsp;{{item.ctnr_number}}&nbsp;&nbsp;{{item.ctnr_owner}}&nbsp;&nbsp;<strong>{{item.ctnr_job}}</strong>===>{{item.ctnr_active}}
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>


{% endblock %}